{% extends "base.html" %}

{% block title %}Edit your informations{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Mon profil</h1>{% endblock %}

{% block content %}
<h2>Mes informations personnelles</h2>
<form method="POST" action="{% url profile %}" name="profile">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" />
</form>

<h2>Changer de mot de passe</h2>

<form method="POST" action="{% url profile %}" name="passwd">
{% csrf_token %}
<table>
{{ passwd_form.as_table }}
</table>
<input type="submit" />
</form>
{% endblock %}
